header{
    color:beige;
    background-color: cornflowerblue;
    font-size:  medium;
    position: sticky;
}
.logo {
    font-size: 50px;
    font-weight:900;
    font-family: Arial, sans-serif;
    color: #017cf7; /* Blue color */
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(12, 9, 9, 0.2);
    padding-left: 10px;
    align-items:self-end;
}

.header-image{
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 80%; 
    margin: 0 auto;
    text-align: left;
    width: 90%; 
    padding-bottom: 15%;
}
.myBtn{
    background-color: #4b4949; 
    padding: 10px; 
    color: #f0f0f0;
    border-radius: 25px 25px 25px 25px;
    height: min-content;
    width: min-content;
}
.pruductDiv{
    margin-bottom:3% ;
    margin-right: 5px ;
    border-radius: 25px 25px 25px 25px;
    background-color:#e6dada;
    width: 300px;
    height: 300px;
}
.col-7
{
    margin-left: 2%;
    height: 200px;
    width: 600px;
    border-radius: 24px 24px 24px 24px;
    background-color: #4b4949;
}
img{
    margin-top: 25% ;
    height: 100px;
    width: 100px;
    padding-bottom: 25%;
    opacity: 40%;
}
.container {
    position: relative;
    width: 200px;
    height: 200px;
}

.reviewimg{
    border-radius: 6px 6px 6px 6px;
    background-color:#0f0f0f;
    width: 80px;
    height: 80px;
    margin-bottom:-10%;
    margin-left: 5%;
    position: relative;
    z-index: 4; 
}

.reviewtext {
    margin-bottom:3% ;
    margin-right: 5px ;
    border-radius: 25px 25px 25px 25px;
    background-color:#e6dada;
    width: 300px;
    height: 300px;
    position: relative;

}
#card-service{
        margin-top: 2%;
        margin-left: 2%;
        height: 200px;
        width: 600px;
        border-radius: 24px 24px 24px 24px;
        background-color: #7e7b7b;
        justify-content: space-between;
}
.footer_text{
    margin: 30% 0 30% 0;
    padding-left: -4%;
}
.footer{
    margin-top: 5%;
    background-color: black;
    color: wheat;
    border-radius: 10px 10px 10px 10px;
}
li{
    list-style: none;
}
body {
    background-color: #f0f0f0; 
    /* height: 100vh; */
    margin: 0;
}
