header{
    color:beige;
    background-image: url('/icons/CoverImg.jpg');
    height: 100vh;
    background-color: rgba(61, 60, 60, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    font-size:  medium;
    position: sticky;
}
nav{
    position: fixed;
}
.logo {
    font-size: 50px;
    font-weight:900;
    font-family: Arial, sans-serif;
    color:#f0f0f0;
    text-shadow: 2px 2px 5px rgba(54, 53, 53, 0.4);
    /* padding-left: 10px; */
    align-items:self-end;
}
.logo:hover{
    color: #f0f0f0;
    text-shadow: 2px 2px 5px 0.5px;
}
a:hover{
    text-decoration: none;
}
.myBtn:hover{
    color: #a8a4a4;
    background-color: #0f0f0f;
}
#Nav{
    padding: 10px; 
    margin-right: 10px;
    color: #f0f0f0;
    font-weight: 500;
    border-radius: 25px 25px 25px 25px;
    height: max-content;
    width: max-content;
    transition: background-color 0.3s; 
}

#Nav:hover{
    background-color:  #4b4b49;
}
#link{
    color: #fff7f7;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s; 
}
#link:hover{
    color:#504f4f; 
}
.header{
    width: 80%; 
    margin: 0 auto;
    text-align: right;
    width: 100%; 
    font-weight:500;
    padding-right: 10%;
    padding-bottom: 15%;
}
.myBtn{
    background-color: #4b4949; 
    padding: 10px; 
    margin-right: 10px;
    color: #f0f0f0;
    border-radius: 25px 25px 25px 25px;
    height: max-content;
    width: max-content;
}
.pruductDiv{
    margin-bottom:3% ;
    margin-right: 5px ;
    border-radius: 25px 25px 25px 25px;
    background-color:#e6dada;
    width: 300px;
    height: 300px;
}
.col-7
{
    margin-left: 2%;
    height: 200px;
    width: 600px;
    border-radius: 24px 24px 24px 24px;
    background-color: #4b4949;
}


.reviewimg{
    border-radius: 6px 6px 6px 6px;
    background-color:#0f0f0f;
    width: 80px;
    height: 80px;
    margin-bottom:-10%;
    margin-left: 5%;
    position: relative;
    z-index: 4; 
}

.reviewtext {
    margin-bottom:3% ;
    margin-right: 5px ;
    border-radius: 25px 25px 25px 25px;
    background-color:#e6dada;
    width: 300px;
    height: 300px;
    position: relative;

}
#card-service{
        margin-top: 2%;
        margin-left: 2%;
        height: 200px;
        width: 600px;
        border-radius: 24px 24px 24px 24px;
        background-color: #7e7b7b;
        justify-content: space-between;
}
.footer_text{
    margin: 30% 0 30% 0;
    padding-left: -4%;
}
.footer{
    margin-top: 5%;
    background-color: black;
    color: wheat;
    border-radius: 10px 10px 10px 10px;
}
li{
    list-style: none;
}
body {
    /* background-color: #f0f0f0;  */
    height: 100vh;
 
    margin: 0;
}
